
@mixin transform($trn...) {
    $max: length($trn);
    $transforms: '';

    @for $i from 1 through $max {
        $transforms: #{$transforms + nth($trn, $i)};

        @if $i < $max {
            $transforms: #{$transforms + ", "};
        }
    }
    -webkit-transform: $transforms;
    -moz-transform:    $transforms;
    -o-transform:      $transforms;
    transform:         $transforms;
}

@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$sans : "open sans", sans;
$font-color: #3e3e3e;
$highlight: #EF136B;
$orange: #F26430;
$light-border: #E3DCCF;
$bc : #FFF8F1; //bc = background;
$coffe : #906F62;
$light-font: lighten($coffe, 15%);
$caption : #505050;
$leaf : #6FED40;

body {
	font-size: 100%;
	width: 100%;
	font-family: $sans;
	color: $font-color;
	background: $bc url(../images/patterns/retina_wood.png);
}

.wrapp {
	padding: 0 1em;
	max-width: 60em;
	margin: 0 auto;
}

.content {
	padding: 2em 1em;
}

.cinzel {
	font-family: 'Cinzel Decorative', cursive;
}

.logo {
	font-size: 2em;
	color: $coffe;
		span {
			display: block;
			width: 100%;
			line-height: 1.5em;
		}
}

.ir {
	text-indent: 100%;
	overflow: hidden;
}

a.ir {
	display: block;
}

.col-1 {
	width: 45%;
	float: left;
	margin-left: 5%;
		&:first-of-type {
			margin-left: 0;
		}
}

a {
	text-decoration: none;
}

.cf {
	&::after, &::before {
	    content: " ";
	    display: table;
	}
	&::after {
		clear: both;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $caption;
}

header {
	border-top: 4px solid $coffe;
	background: white;
	position: fixed;
	margin-left: 0;
	background-color: rgba(255,255,255,0.9);
	border-bottom: solid 1px #eaeaea;
	width: 100%;
	z-index: 500;
		.wrapp {
			position:relative;
		}
		h1 {
			padding: .5em 0;
			float: left;
		}
	+ * {
		padding-top: 7em;
	}
}

nav {
	float: right;
	padding: 1.5em 0;
	ul {
	 	li {
	 		font-weight: bold;
	 		text-transform: uppercase;
	 		margin-left: 2em;
	 		float: left;
	 		 	&:first-child {
	 		 		margin: 0;
	 		 	}
	 		 	a {
	 		 		color: darken($coffe, 10%);
	 		 			&:hover {
	 		 				color: $orange;
	 		 			}
	 		 	}
	 	}
	}
}

section[data-gallery] {
	position: relative;
	.gallery-items {
		position: relative;
		overflow: hidden;
		 > div {
		 	width: 100%;
		 	top: 0;
		 	transition: all linear 2s;
		 }
	}
	.logo {
		font-size: 4em;
		margin-top: 1em;
	}
	.wrapp {
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	.thumbs {
		position: absolute;
		right: 0;
		bottom: 1.5em;
	}
}

.gallery-right {
	position: absolute;
	@include transform( translate(100%) );
}

.gallery-left {
	position: absolute;
	@include transform( translate(-100%) );
}

ul[data-thumbs] {
		li{
			width: 1em;
			height: 1em;
			background: rgba(255, 255, 255, 0.8);
			border-radius: 50%;
			float: left;
			margin-left: 1em;
			opacity: 0.8;
			transition: background linear 0.5s;
				&:first-child {
					margin: 0;
				}
				&:hover {
					cursor: hand;
					cursor: pointer;
					background: rgba(255, 255, 255, 0.6)
				}
				&.active {
					background: $leaf;
					opacity: 0.5;
				}
		}
	float: right;
}

.recent-articles {
	font-size: 2.5em;
}

main {
	padding: 2.5em 0 1em 0;
}

article {
	padding: 1.5em;
	border-bottom: 1px solid $light-border;
	margin-bottom: 1em;
	background: white;
	border-radius: 20px;
	 a {
	 	display: block;
	 	font-size: 1.8em;
	 	font-weight: bold;
	 	line-height: 1.8em;
	 	color: inherit;
	 	color: $coffe;
	 		&:hover {
	 			opacity: 0.8;
	 		}
	 }
	 p {
	 	padding: .5em 0;
	 	line-height: 1.8em;
	 }
	 span {
	 	color: $light-font;;
	 }
	 .readmore {
	 	color: $orange;
	 	font-size: 1em;
	 	line-height: 1em;
	 }
}

footer {
	background: url(../images/patterns/tweed.png);
	padding: 2em 0 5em 0;
	nav {
		color: white;
		float: none;
		width: 460px;
		margin: 0 auto;
			li {
				a {
					color: white;
						&:hover {
							color: white;
							opacity: 0.8;
						}
				}
			}
	}
	p {
		text-align: center;
		color: whitesmoke;
	}
}