@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* line 17, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
body {
  font-size: 100%;
  width: 100%;
  font-family: "open sans", sans;
  color: #3e3e3e;
  background: #fff8f1 url(../images/patterns/retina_wood.png);
}

/* line 24, ../sass/screen.scss */
.wrapp {
  padding: 0 1em;
  max-width: 60em;
  margin: 0 auto;
}

/* line 30, ../sass/screen.scss */
.content {
  padding: 2em 1em;
}

/* line 34, ../sass/screen.scss */
.cinzel {
  font-family: 'Cinzel Decorative', cursive;
}

/* line 38, ../sass/screen.scss */
.logo {
  font-size: 2em;
  color: #906f62;
}

/* line 43, ../sass/screen.scss */
.ir {
  text-indent: 100%;
  overflow: hidden;
}

/* line 48, ../sass/screen.scss */
a.ir {
  display: block;
}

/* line 52, ../sass/screen.scss */
.col-1 {
  width: 45%;
  float: left;
  margin-left: 5%;
}
/* line 56, ../sass/screen.scss */
.col-1:first-of-type {
  margin-left: 0;
}

/* line 61, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 66, ../sass/screen.scss */
.cf::after, .cf::before {
  content: " ";
  display: table;
}
/* line 70, ../sass/screen.scss */
.cf::after {
  clear: both;
}

/* line 75, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #5c5c69;
}

/* line 79, ../sass/screen.scss */
header {
  border-top: 4px solid #906f62;
  background: white;
  position: fixed;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: solid 1px #eaeaea;
  width: 100%;
  z-index: 500;
}
/* line 88, ../sass/screen.scss */
header .wrapp {
  position: relative;
}
/* line 91, ../sass/screen.scss */
header h1 {
  padding: .5em 0;
  float: left;
}
/* line 95, ../sass/screen.scss */
header + * {
  padding-top: 7em;
}

/* line 100, ../sass/screen.scss */
nav {
  float: right;
  padding: 1.5em 0;
}
/* line 104, ../sass/screen.scss */
nav ul li {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 2em;
  float: left;
}
/* line 109, ../sass/screen.scss */
nav ul li:first-child {
  margin: 0;
}
/* line 112, ../sass/screen.scss */
nav ul li a {
  color: #72584d;
}
/* line 114, ../sass/screen.scss */
nav ul li a:hover {
  color: #f26430;
}

/* line 123, ../sass/screen.scss */
section[data-gallery] > div {
  position: relative;
  width: 100%;
}
/* line 126, ../sass/screen.scss */
section[data-gallery] > div > div {
  position: absolute;
  width: 100%;
}
/* line 130, ../sass/screen.scss */
section[data-gallery] > div .logo {
  top: 1.5em;
  left: 2em;
  font-size: 4em;
}

/* line 138, ../sass/screen.scss */
.recent-articles {
  font-size: 2.5em;
}

/* line 142, ../sass/screen.scss */
main {
  padding: 2.5em 0 1em 0;
}

/* line 146, ../sass/screen.scss */
article {
  padding: 1.5em;
  border-bottom: 1px solid #e3dccf;
  margin-bottom: 1em;
  background: white;
  border-radius: 5%;
}
/* line 152, ../sass/screen.scss */
article a {
  display: block;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.8em;
  color: inherit;
  color: #906f62;
}
/* line 159, ../sass/screen.scss */
article a:hover {
  opacity: 0.8;
}
/* line 163, ../sass/screen.scss */
article p {
  padding: .5em 0;
  line-height: 1.8em;
}
/* line 167, ../sass/screen.scss */
article span {
  color: #b1978d;
}
/* line 170, ../sass/screen.scss */
article .readmore {
  color: #f26430;
  font-size: 1em;
  line-height: 1em;
}

/* line 177, ../sass/screen.scss */
footer {
  background: url(../images/patterns/tweed.png);
  padding: 2em 0 5em 0;
}
/* line 180, ../sass/screen.scss */
footer nav {
  color: white;
  float: none;
  width: 460px;
  margin: 0 auto;
}
/* line 186, ../sass/screen.scss */
footer nav li a {
  color: white;
}
/* line 188, ../sass/screen.scss */
footer nav li a:hover {
  color: white;
  opacity: 0.8;
}
/* line 195, ../sass/screen.scss */
footer p {
  text-align: center;
  color: whitesmoke;
}
